@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background: hsl(217, 28%, 15%) url('/public/images/bg-curvy-mobile.svg') no-repeat;
    background-size: cover;
}

.review {
    background-image: url('/public/images/bg-quotes.png');
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    header {
        background: hsl(217, 28%, 15%) url('/public/images/bg-curvy-desktop.svg') no-repeat;
        background-size: cover;
    }
}